In [1]:

import pandas as pd 
import numpy as np

In [2]:

total_dataset =pd.read_csv("laptopPrice.csv")

In [3]:
total_dataset.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [4]:
total_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    object
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), object(16)
memory usage: 122.3+ KB

In [5]:
total_dataset.shape

(823, 19)

In [6]:
total_dataset.describe()

               Price  Number of Ratings  Number of Reviews
count     823.000000         823.000000         823.000000
mean    76745.177400         315.301337          37.609964
std     45101.790525        1047.382654         121.728017
min     16990.000000           0.000000           0.000000
25%     46095.000000           0.000000           0.000000
50%     64990.000000          17.000000           2.000000
75%     89636.000000         139.500000          18.000000
max    441990.000000       15279.000000        1947.000000

In [7]:

total_dataset.columns

Index(['brand', 'processor_brand', 'processor_name', 'processor_gnrtn',
       'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit', 'graphic_card_gb',
       'weight', 'warranty', 'Touchscreen', 'msoffice', 'Price', 'rating',
       'Number of Ratings', 'Number of Reviews'],
      dtype='object')

In [8]:
total_dataset['brand'].value_counts()

brand
ASUS      249
DELL      151
Lenovo    144
HP        136
acer       51
MSI        50
APPLE      28
Avita      14
Name: count, dtype: int64

In [9]:

total_dataset.duplicated().sum()

np.int64(21)

In [10]:

total_dataset.drop_duplicates(inplace=True)

In [11]:
total_dataset.duplicated().sum()

np.int64(0)

In [12]:

total_dataset.isnull().sum()

brand                0
processor_brand      0
processor_name       0
processor_gnrtn      0
ram_gb               0
ram_type             0
ssd                  0
hdd                  0
os                   0
os_bit               0
graphic_card_gb      0
weight               0
warranty             0
Touchscreen          0
msoffice             0
Price                0
rating               0
Number of Ratings    0
Number of Reviews    0
dtype: int64

In [13]:

df =total_dataset

In [14]:

df['brand'].unique()

array(['ASUS', 'Lenovo', 'acer', 'Avita', 'HP', 'DELL', 'MSI', 'APPLE'],
      dtype=object)

In [15]:

apple=df[df['brand']=="APPLE"]

In [16]:

apple.describe()

               Price  Number of Ratings  Number of Reviews
count      23.000000          23.000000          23.000000
mean   157081.304348         853.652174          84.826087
std     54370.286948        1875.694747         174.698611
min     85990.000000           3.000000           1.000000
25%    118990.000000          42.000000           5.000000
50%    149990.000000         108.000000          13.000000
75%    179990.000000         640.000000          70.000000
max    309990.000000        6725.000000         629.000000

In [17]:
apple['ram_gb'].unique()

array(['8 GB', '16 GB', '4 GB', '32 GB'], dtype=object)

In [18]:
apple_8gb =apple[apple['ram_gb']=='8 GB']

In [19]:
apple_8gb['processor_brand'].unique()

array(['Intel', 'M1'], dtype=object)

In [20]:
apple_8gb_intel_brand =apple_8gb[apple_8gb['processor_brand']=='Intel']

In [21]:
apple_8gb_intel_brand

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
309,APPLE,Intel,Core i5,10th,8 GB,LPDDR4X,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,159990,4 stars,32,5
310,APPLE,Intel,Core i5,8th,8 GB,DDR3,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,172090,4 stars,108,13

In [22]:
df =df.drop(['weight',"warranty","msoffice","rating","Number of Ratings","Number of Reviews"],axis=1)# drop columns and axis =1 means columns

In [23]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,Touchscreen,Price
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,No,34649
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,No,38999
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,No,39999
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,No,69990
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,No,26990

In [24]:

df['Touchscreen'].unique()

array(['No', 'Yes'], dtype=object)

In [25]:

touch_dict ={
  'No':0, 'Yes':1  
}

In [26]:
df['Touchscreen']=df['Touchscreen'].map(touch_dict)

In [27]:
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,Touchscreen,Price
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,34649
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,38999
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,39999
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,0,69990
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,0,26990
...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,0,135990
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,0,144990
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,0,149990
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,0,142990
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,0,57490

In [28]:
df['processor_brand'].unique()

array(['Intel', 'AMD', 'M1'], dtype=object)

In [29]:
proccessor_brand_dict={
    'Intel':0,
    'AMD':1,
    'M1':2
}

In [30]:
ssd_dict ={
    '0 GB':0,
    '512 GB':512,
    '256 GB':256,
    '128 GB':128,
    '1024 GB':1024,
    '2048 GB':2048,
    '3072 GB':3072
}

In [31]:
ram_type_dict ={
    'DDR4':0,
    'LPDDR4':1,
    'LPDDR4X':2,
    'DDR5':3,
    'DDR3':4,
    'LPDDR3':5
}

In [32]:
df['processor_brand']=df['processor_brand'].map(proccessor_brand_dict)

In [33]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,Touchscreen,Price
0,ASUS,0,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,34649
1,Lenovo,0,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,38999
2,Lenovo,0,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,39999
3,ASUS,0,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,0,69990
4,ASUS,0,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,0,26990

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 802 entries, 0 to 822
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            802 non-null    object
 1   processor_brand  802 non-null    int64
 2   processor_name   802 non-null    object
 3   processor_gnrtn  802 non-null    object
 4   ram_gb           802 non-null    object
 5   ram_type         802 non-null    object
 6   ssd              802 non-null    object
 7   hdd              802 non-null    object
 8   os               802 non-null    object
 9   os_bit           802 non-null    object
 10  graphic_card_gb  802 non-null    object
 11  Touchscreen      802 non-null    int64
 12  Price            802 non-null    int64
dtypes: int64(3), object(10)
memory usage: 87.7+ KB

In [35]:
df['processor_gnrtn'].unique()

array(['10th', 'Not Available', '11th', '7th', '8th', '9th', '4th',
       '12th'], dtype=object)

In [36]:
processor_gnrtn_dict = {
    '10th':5, 'Not Available':0, '11th':6, '7th':2, '8th':3, '9th':4, '4th':1,
       '12th':7
}

In [37]:
df['processor_gnrtn'] = df['processor_gnrtn'].map(processor_gnrtn_dict)

In [38]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,Touchscreen,Price
0,ASUS,0,Core i3,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,34649
1,Lenovo,0,Core i3,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,38999
2,Lenovo,0,Core i3,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,39999
3,ASUS,0,Core i5,5,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,0,69990
4,ASUS,0,Celeron Dual,0,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,0,26990

In [39]:
df['processor_name'].unique()

array(['Core i3', 'Core i5', 'Celeron Dual', 'Ryzen 5', 'Core i7',
       'Core i9', 'M1', 'Pentium Quad', 'Ryzen 3', 'Ryzen 7', 'Ryzen 9'],
      dtype=object)

In [40]:
processor_name_dict = {
    'Core i3':1, 'Core i5':2, 'Celeron Dual':3, 'Ryzen 5':4, 'Core i7':5,
       'Core i9':6, 'M1':7, 'Pentium Quad':8, 'Ryzen 3':9, 'Ryzen 7':10, 'Ryzen 9':11

}

In [41]:
df['processor_name']= df['processor_name'].map(processor_name_dict)

In [42]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,Touchscreen,Price
0,ASUS,0,1,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,34649
1,Lenovo,0,1,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,38999
2,Lenovo,0,1,5,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,39999
3,ASUS,0,2,5,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,0,69990
4,ASUS,0,3,0,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,0,26990

In [43]:
df['ram_gb'].unique()

array(['4 GB', '8 GB', '16 GB', '32 GB'], dtype=object)

In [44]:
ram_gb_dict = {
    '4 GB':1, '8 GB':2, '16 GB':3, '32 GB':4
}

In [45]:
df['ram_gb'] =df['ram_gb'].map(ram_gb_dict)

In [46]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,Touchscreen,Price
0,ASUS,0,1,5,1,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,34649
1,Lenovo,0,1,5,1,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,38999
2,Lenovo,0,1,5,1,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,0,39999
3,ASUS,0,2,5,2,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,0,69990
4,ASUS,0,3,0,1,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,0,26990

In [47]:

df['brand'].unique()

array(['ASUS', 'Lenovo', 'acer', 'Avita', 'HP', 'DELL', 'MSI', 'APPLE'],
      dtype=object)

In [48]:
brand_dict = {
'ASUS':1, 'Lenovo':2, 'acer':3, 'Avita':4, 'HP':5, 'DELL':6, 'MSI':7, 'APPLE':8
}

In [49]:
df['brand'] = df['brand'].map(brand_dict)

In [50]:
df['graphic_card_gb'].unique()

array(['0 GB', '2 GB', '4 GB', '6 GB', '8 GB'], dtype=object)

In [51]:
graphic_card_gb_dict = {
    '0 GB':1, '2 GB':2, '4 GB':3, '6 GB':4, '8 GB':5
}

In [52]:
df['graphic_card_gb'] = df['graphic_card_gb'].map(graphic_card_gb_dict)

In [53]:
df['os_bit'].unique()

array(['64-bit', '32-bit'], dtype=object)

In [54]:
os_bit_dict = {
    '64-bit':2, '32-bit':1
}

In [55]:
df['os_bit']=df['os_bit'].map(os_bit_dict)

In [56]:
df['os'].unique()

array(['Windows', 'DOS', 'Mac'], dtype=object)

In [57]:
os_dict = {
    'Windows':1, 'DOS':2, 'Mac':3
}

In [58]:
df['os'] = df['os'].map(os_dict)

In [59]:
df['hdd'].unique()

array(['1024 GB', '0 GB', '512 GB', '2048 GB'], dtype=object)

In [60]:
hdd_dict = {
    '1024 GB':3, '0 GB':1, '512 GB':2, '2048 GB':4
}

In [61]:
df['hdd'] = df['hdd'].map(hdd_dict)

In [62]:
df['ssd'].unique()

array(['0 GB', '512 GB', '256 GB', '128 GB', '1024 GB', '2048 GB',
       '3072 GB'], dtype=object)

In [63]:
ssd_dict = {
    '0 GB':1, '512 GB':3, '256 GB':2, '128 GB':4, '1024 GB':5, '2048 GB':6,
       '3072 GB':7
}

In [64]:
df['ssd'] = df['ssd'].map(ssd_dict)

In [65]:
df['ram_type'].unique()

array(['DDR4', 'LPDDR4', 'LPDDR4X', 'DDR5', 'DDR3', 'LPDDR3'],
      dtype=object)

In [66]:
ram_type_dict = {
    'DDR4':3, 'LPDDR4':4, 'LPDDR4X':5, 'DDR5':6, 'DDR3':1, 'LPDDR3':2
}

In [67]:
df['ram_type'] = df['ram_type'].map(ram_type_dict)

In [68]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,Touchscreen,Price
0,1,0,1,5,1,3,1,3,1,2,1,0,34649
1,2,0,1,5,1,3,1,3,1,2,1,0,38999
2,2,0,1,5,1,3,1,3,1,2,1,0,39999
3,1,0,2,5,2,3,3,1,1,1,2,0,69990
4,1,0,3,0,1,3,1,2,1,2,1,0,26990

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 802 entries, 0 to 822
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            802 non-null    int64
 1   processor_brand  802 non-null    int64
 2   processor_name   802 non-null    int64
 3   processor_gnrtn  802 non-null    int64
 4   ram_gb           802 non-null    int64
 5   ram_type         802 non-null    int64
 6   ssd              802 non-null    int64
 7   hdd              802 non-null    int64
 8   os               802 non-null    int64
 9   os_bit           802 non-null    int64
 10  graphic_card_gb  802 non-null    int64
 11  Touchscreen      802 non-null    int64
 12  Price            802 non-null    int64
dtypes: int64(13)
memory usage: 87.7 KB

In [70]:
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,Touchscreen,Price
0,1,0,1,5,1,3,1,3,1,2,1,0,34649
1,2,0,1,5,1,3,1,3,1,2,1,0,38999
2,2,0,1,5,1,3,1,3,1,2,1,0,39999
3,1,0,2,5,2,3,3,1,1,1,2,0,69990
4,1,0,3,0,1,3,1,2,1,2,1,0,26990

In [ ]:
x = df.drop('Price',axis=1)  # independent

In [ ]:
y = df[['Price']] # dependent

In [ ]:
x

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,Touchscreen
0,1,0,1,5,1,3,1,3,1,2,1,0
1,2,0,1,5,1,3,1,3,1,2,1,0
2,2,0,1,5,1,3,1,3,1,2,1,0
3,1,0,2,5,2,3,3,1,1,1,2,0
4,1,0,3,0,1,3,1,2,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
818,1,1,11,0,1,3,5,1,1,2,1,0
819,1,1,11,0,1,3,5,1,1,2,1,0
820,1,1,11,0,1,3,5,1,1,2,3,0
821,1,1,11,0,1,3,5,1,1,2,3,0
822,2,1,4,5,2,3,3,1,2,2,1,0

In [75]:
y

      Price
0     34649
1     38999
2     39999
3     69990
4     26990
..      ...
818  135990
819  144990
820  149990
821  142990
822   57490

[802 rows x 1 columns]

In [76]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [77]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((641, 12), (161, 12), (641, 1), (161, 1))

In [78]:

from sklearn.linear_model import LinearRegression

In [79]:
lr =LinearRegression()

In [80]:
lr.fit(x_train,y_train)

LinearRegression()

In [81]:
lr.score(x_test,y_test)

0.5698466430886298

In [82]:
lr.score(x_train,y_train)

0.6667464855634475

In [83]:
pred = lr.predict(x_test)

In [86]:
pridiction_history={"predicted_price":pred,"actual_prive":y_test}

In [90]:
pred = pd.DataFrame(pred)

In [91]:
pd.concat([pred,y_test],axis=1)

                0    Price
0    41322.343161      NaN
1    67247.698049  38999.0
2    60826.574138  39999.0
3    51038.056436      NaN
4    60305.464933      NaN
..            ...      ...
665           NaN  44490.0
214           NaN  61999.0
724           NaN  59999.0
317           NaN  70990.0
206           NaN  49490.0

[294 rows x 2 columns]