In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\kumar\OneDrive\Desktop\DS\data-science-\pandas\project\house_price\house_price.csv")

In [3]:
df.head()

,date,street,city,statezip,country,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,2014-05-02 00:00:00,18810 Densmore Ave N,Shoreline,WA 98133,USA,313000.0,3,1,1340,7912,1,0,0,3,1340,0,1955,2005
1,2014-05-02 00:00:00,709 W Blaine St,Seattle,WA 98119,USA,2384000.0,5,2,3650,9050,2,0,4,5,3370,280,1921,0
2,2014-05-02 00:00:00,26206-26214 143rd Ave SE,Kent,WA 98042,USA,342000.0,3,2,1930,11947,1,0,0,4,1930,0,1966,0
3,2014-05-02 00:00:00,857 170th Pl NE,Bellevue,WA 98008,USA,420000.0,3,2,2000,8030,1,0,0,4,1000,1000,1963,0
4,2014-05-02 00:00:00,9105 170th Ave NE,Redmond,WA 98052,USA,550000.0,4,2,1940,10500,1,0,0,4,1140,800,1976,1992

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   street         4600 non-null   object
 2   city           4600 non-null   object
 3   statezip       4600 non-null   object
 4   country        4600 non-null   object
 5   price          4600 non-null   float64
 6   bedrooms       4600 non-null   int64
 7   bathrooms      4600 non-null   int64
 8   sqft_living    4600 non-null   int64
 9   sqft_lot       4600 non-null   int64
 10  floors         4600 non-null   int64
 11  waterfront     4600 non-null   int64
 12  view           4600 non-null   int64
 13  condition      4600 non-null   int64
 14  sqft_above     4600 non-null   int64
 15  sqft_basement  4600 non-null   int64
 16  yr_built       4600 non-null   int64
 17  yr_renovated   4600 non-null   int64
dtypes: float64(1), int64(12), object(5)
memory usage: 647.0+ KB

In [8]:
df.drop('street',axis=1,inplace=True)

In [11]:
df.drop('country',axis=1,inplace=True)

In [14]:
df.drop([ 'statezip', 'date'], axis=1, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   city           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   int64
 3   bathrooms      4600 non-null   int64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   int64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
dtypes: float64(1), int64(12), object(1)
memory usage: 503.3+ KB

In [16]:
df.dropna(inplace=True)

In [17]:
df.duplicated().sum()

np.int64(0)